@borderstyle: 1px solid #000;
@formblock:{
    display: block;
    margin:20px 0;
};
@tileCriticalColor:#d0021b;
@tileLowColor:#f4e31c;

body {
    margin: 0 5px;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
text-align: center;
}
.homepage{
    display: flex;
    justify-content: space-between;
    height: 100vh;
.formcontent{
    border: @borderstyle;
    text-align: left;
    margin-right: 10px;
    padding: 60px;
}
.landingarea{
    border: @borderstyle;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
}

.block{
    width: 400px;
    @formblock();
}
.center{
    text-align: center;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
input,select{
    vertical-align: top;
}
.submit{
    width:100px;
    @formblock();
}

.shift{
    position: flex;
    flex-direction: column;
    width:144px;
    height:47px;
    border: 1px solid #eaeef1;
    background-color: #fafbfb;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;

    .shiftblock{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin:0 5px;
        }

    }

}

.criticalnotice{
    position: relative;
    background-color:@tileCriticalColor;
    width:130px;
    height:47px;
    top:-52px;
    left:135px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    p{
        position: relative;
        top:35%;
        left:-8%;
    }
    &:hover{
        cursor: pointer;
        animation:mymove 1s;
        animation-fill-mode: forwards;
    }
}

.lownotice{
    position: relative;
    width:130px;
    height:47px;
    top:-52px;
    left:135px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    div{
        position: relative;
        top:22%;
        left:-8%;
        background-color:@tileLowColor;
        height:24px;
        &:nth-child(1){
            background-color:@tileCriticalColor;
        }
    }
    &:hover{
        cursor: pointer;
        animation:mymove 1s;
        animation-fill-mode: forwards;
    }
}


@keyframes mymove{
    from {left:130px;}
    to {left:36px;}
}

.shiftnote{
    background-color: #fcf7ba;
}
