@borderstyle: 1px solid #000;
@formblock:{
    display: block;
    margin:20px 0;
};

body {
    margin: 0 5px;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
text-align: center;
}
.homepage{
    display: flex;
    justify-content: space-between;
    height: 100vh;
.formcontent{
    border: @borderstyle;
    text-align: left;
    margin-right: 10px;
    padding: 60px;
}
.landingarea{
    border: @borderstyle;
    flex: 1;
    text-align: start;
    display: flex;
}
}

.block{
    width: 400px;
    @formblock();
}
.center{
    text-align: center;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
input,select{
    vertical-align: top;
}
.submit{
    width:100px;
    @formblock();
}


